:root {
    --skeleton-background: #f8f8f8;
    --skeleton-radius: 20px;
    --floating-background: rgba(250, 250, 252, .8);
    --floating-color: rgba(0, 0, 0, 0.808);
    --skeleton-child-radius: 15px;
    --skeleton-border: rgba(87, 87, 87, 0.966);
}

* {
    margin: 0;
    padding: 0;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    background-color: var(--skeleton-background);
    font-family: "Russo One", sans-serif;
}

.navigation {
    display: grid;
    place-items: center;
    position: sticky;
    top: 0;
    padding: 1rem;
    z-index: 99999;
}

.floating-navigation {
    width: max(44rem, 70%);
    padding: .35rem;
    border-radius: var(--skeleton-radius);
    background-color: var(--floating-background);
    color: var(--floating-color);
    backdrop-filter: saturate(180%) blur(20px);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    font-weight: 400;
    font-style: normal;
    border: .5px solid var(--skeleton-border);
    transition: width 500ms;
    overflow: hidden;
}

.floating-navigation>ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: .6rem;
    font-size: clamp(1.35rem, .3rem + 1vw, 2rem);
}

.floating-navigation>ul>li {
    cursor: pointer;
    flex-grow: 1;
    padding: .95rem;
    background-color: var(--floating-background);
    border-radius: var(--skeleton-child-radius);
    letter-spacing: .06rem;
    text-align: center;
    transition: flex-grow 300ms;
    border: .5px solid var(--skeleton-border);
}

.floating-navigation>ul>li:hover {
    flex-grow: 3;
    background-color: black;
    color: #f8f8f8;
    text-decoration: underline;
}

.floating-navigation > img {
    display: none;
    width: 100%;
    height: 100%;
}

.container {
    margin: 0 2rem;
    min-height: 100svh;
    display: flex;
    flex-direction: column;
}

/* Don't give width 100% or it will not work when the window resize it self */

/* .static {
    position: sticky;
    mix-blend-mode: difference;
    top: 5rem;
    font-size: 3em;
    display: inline-block;
    color: white;
    background-color: black;
}

.move {
    text-align: justify;
    line-height: 2;
} */

/* media query for small screen size */

@media (width < 768px) {
    .container {
        margin: 0 .5rem;
    }

    .navigation {
        padding: .5rem;
        place-items: end;
    }

    .floating-navigation {
        width: 4.375rem;
        height: 4.375rem;
    }

    .floating-navigation > ul {
        display: none;
    }

    .floating-navigation > img {
        cursor: pointer;
        display: block;
    }

    .body-content {
        margin: 0 .5rem;
    }
}

.show-floating-navigation > ul {
    display: flex;
    flex-direction: column;
}

.show-floating-navigation > img {
    display: none;
}

.show-floating-navigation {
    width: 100%;
    height: auto;
    transition: width 300ms;
}